/* CSS Stylings for heyrel.com. 
Brand Identity by Tina Zhou https://thetinazhou.com/ */

/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Sono:wght@200..800&display=swap');

* {
    font-family: "Sono", monospace;
        font-optical-sizing: auto;
        font-style: normal;
        font-variation-settings:
            "MONO" 1;
        text-decoration: none;
        color: black;
}

body {
    background-image: url('../images/background.png');
    background-size: cover;
}

/* Navbar */

nav,
nav span {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    /* so they do not overlap each other if space too short */
}

nav {
    margin: 50px 50px 50px 50px;
}

span:first-of-type:after,
span:last-of-type:before {
    content: '';
    display: inline-block;
}

nav > span {
    flex: 2;
}




nav a {
    font-weight: 350;
    font-size: 24pt;
    color: black;
}

nav a:hover, nav a:focus {
    text-decoration: underline;
}

/* Style for the logo */



.logo img {
    height: 100px;
}

/* Mobile styling- TODO ADJUST */
@media (max-width: 768px) {
    .navbar-menu {
        flex-direction: column;
    }

    .navbar-menu li {
        padding: 10px 0;
    }

    .logo {
        margin: 10px 0;
    }
}

.upcoming {
    margin-top: auto;
}
.upcoming img {
height: 300px;
}

.upcoming h2 {
    text-align: center;
    font-size: 12pt;
    color: black;
}
