/* CSS Stylings for heyrel.com. 
Brand Identity by Tina Zhou https://thetinazhou.com/ */

/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Sono:wght@200..800&display=swap");

* {
  font-family: "Sono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "MONO" 1;
  text-decoration: none;
  color: black;
  box-sizing: border-box;
}

.upcoming-container {
  margin: 100px 200px 100px 200px;
}

/* General styling */

body {
  background-image: url("../images/background_smaller.jpg");
  background-size: cover;
}

a {
  color: black;
  text-decoration: none;
}

.collapsed-home {
  display: none;
}

.merch {
  padding: 50px 50px 0px 50px;
}

.merch a {
  text-decoration: underline;
}
.merch a:hover {
  text-decoration: none;
}

/* Row */

.first-row {
  background-image: url("../images/red-bg.jpg");
  background-size: cover;
}

/* Navbar */

a:hover,
a:focus {
  color: #7c3746;
  text-decoration: underline;
}

@media (min-width: 576px) {
  .navbar-expand-sm .navbar-nav .nav-link {
    padding-left: 75px;
    padding-right: 75px;
  }
}
/* Box-sizing for better control over sizing and padding */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  overflow: hidden; /* Prevent overflow */
}

.nav-item {
  padding: 0px 40px 0px 40px;
}

.navbar-nav {
  display: flex; /* Keep items in a row */
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Vertically center items */
  flex-wrap: nowrap; /* Prevent wrapping */
  width: 100%; /* Ensure the navbar spans full width up to the max-width */
}

.nav-link {
  color: black;
  font-weight: 350;
  font-size: 18pt;
  white-space: nowrap; /* Prevent text from wrapping */
}

.nav-link:hover {
  color: #7c3746;
}

@media (min-width: 576px) {
  .navbar-expand-sm .navbar-nav .nav-link {
    padding-left: 40px; /* Adjust padding for wider screens */
    padding-right: 40px;
  }
}

.newsletter {
  font-weight: 350;
  font-size: 12pt;
  color: black;
  text-decoration: underline;
}

.newsletter:hover,
.newsletter:focus {
  text-decoration: none;
}

/* Style for the logo */

.logo {
  height: 100px;
}

.logo:hover,
.logo:focus {
  height: 100px;
  filter: invert(25%) sepia(5%) saturate(6037%) hue-rotate(298deg)
    brightness(98%) contrast(88%);
}

.navbar-toggler-icon {
  background-image: url("../images/expand_menu.png");
}

.navbar-toggler {
  border: 3px solid black;
  color: black;
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 2px;
  color: #7c3746;
}

/* Mobile styling- TODO ADJUST */
@media (max-width: 992px) {
  .logo {
    margin: 10px 0;
    padding-left: 20px;
  }

  .home-link {
    display: none;
  }

  .collapsed-home {
    display: block;
  }

  .upcoming-container {
    margin: 50px 50px 0px 50px;
  }

  .butterfly1 {
    display: none;
  }

  .butterfly2 {
    display: none;
  }
  .clothespin {
    display: none;
  }

  .dice {
    max-width: 30%;
    margin: 0 auto;
  }

  .merch {
    margin: 0 auto;
  }

  .nav-link {
    color: black;
    font-weight: 400;
    font-size: 24pt;
    white-space: nowrap; /* Prevent text from wrapping */
  }

  .btn a {
    text-align: center;
    margin-left: 0;
    margin: 0 auto;
  }
}

.upcoming {
  text-align: center;
}
.upcoming img {
  padding: 50px;
  height: auto;
  margin: auto;
  max-width: 80%;
  display: block;
}

.butterfly1 img {
  max-width: 50%;
  display: block;
  margin: 50px auto;
}
.butterfly2 img {
  max-width: 50%;
  display: block;
  top: 300px;
  position: relative;
  left: 70px;
  transform: rotate(0.9turn);
}

.dice img {
  max-width: 60%;
  display: block;
  margin: 50px auto;
}

.merch img {
  max-width: 40%;
  display: block;
  margin: 50px auto;
}

.clothespin img {
  display: block;
  top: 300px;
  max-width: 40%;
  position: relative;
  left: 70px;
  transform: rotate(0.5turn);
}

p {
  text-align: center;
  font-size: 12pt;
  color: black;
}

h3 em {
  font-style: italic;
  color: #7c3746;
}

h3 {
  padding-bottom: 1em;
}

h2 {
  font-size: 36pt;
}

.thumbnail img {
  padding-bottom: 25px;
  width: 100%;
  height: 300px;
  object-fit: cover;
  text-align: center;
}

.single {
  text-align: center;
  margin: 25px 0px 50px 0px;
}
.single img {
  max-width: 35%;
  padding-bottom: 25px;
}

.btn {
  padding: 10px 20px 10px 20px;
  outline: solid black;
  text-align: center;
}

.btn:hover,
btn:focus {
  text-decoration: underline;
}

.tracklist {
  margin-top: 50px;
  margin-left: 50px;
  text-align: left;
}

footer {
  margin: 0 auto;
  max-width: 600px;
  font-size: 14pt;
  padding: 50px 25px 25px 25px;
}

.socials ul {
  text-decoration: none;
  display: flex;
  padding-left: 0;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
}

.socials ul a img {
  width: 32px;
}

/* press */
.press ul {
  font-size: 18pt;
  @media (max-width: 992px) {
    font-size: 14pt;
  }
}

.press h2 {
  font-size: 18pt;
}

.press {
  padding: 50px 100px 50px 100px;
  @media (max-width: 992px) {
    padding: 50px 50px 50px 50px;
  }
}

.shows {
  padding: 25px 25px 25px 25px;
}

.press a {
  text-decoration: underline;
}

.press a:hover {
  text-decoration: none;
}

.press p {
  font-size: 14pt;
  text-align: left;
}
/* about page */

.artist-photo-collage {
  max-width: 80%;
}

.textured-bg {
  position: relative;
  max-width: 60%;
}

.artist-photo {
  width: 100%;
  height: auto;
}

.bracelet {
  max-width: 10%;
}

.big-try {
  max-width: 20%;
  margin: 25px 0px 25px 0px;
}

.about {
  padding-left: 50px;
  padding-right: 50px;
}

.about .credits p {
  text-align: left;
  font-size: 14px;
}

.about p {
  text-align: left;
  font-size: 20px;
}

.about a {
  text-decoration: underline;
}

@media (max-width: 576px) {
  iframe {
    height: 250px;
  }
}
