/* CSS Stylings for heyrel.com. 
Brand Identity by Tina Zhou https://thetinazhou.com/ */

/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Sono:wght@200..800&display=swap');

* {
    font-family: "Sono", monospace;
        font-optical-sizing: auto;
        font-style: normal;
        font-variation-settings:
            "MONO" 1;
        text-decoration: none;
        color: black;
}

/* General styling */

body {
    background-image: url('../images/background.webp');
    background-size: cover;
}

a {
    color: black;
    text-decoration: none;
}

/* Navbar */

nav,
nav span {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    /* so they do not overlap each other if space too short */
}

nav {
    margin: 50px 50px 50px 50px;
}

span:first-of-type:after,
span:last-of-type:before {
    content: '';
    display: inline-block;
}

nav > span {
    flex: 2;
}


a:hover, a:focus {
    color: #7c3746;
text-decoration: underline;
}


nav a {
    font-weight: 350;
    font-size: 24pt;
    
}





.newsletter {
    font-weight: 350;
    font-size: 12pt;
    color: black;
    text-decoration: underline;
}

.newsletter:hover, .newsletter:focus {
    text-decoration: none;
}

/* Style for the logo */

.logo img {
    height: 100px;
}

.logo img:hover, .logo img:focus {
    height: 100px;
    filter: invert(25%) sepia(5%) saturate(6037%) hue-rotate(298deg) brightness(98%) contrast(88%);
}

/* Mobile styling- TODO ADJUST */
@media (max-width: 992px) {
    .navbar-menu {
        flex-direction: column;
    }

    .navbar-menu li {
        padding: 10px 0;
    }

    .logo {
        margin: 10px 0;
    }

    .butterfly {
        display: none;
    }

    li {
            margin: 10px 230px;
        }
    ol  {
            padding-left: 0;
        }

        .btn a {
            text-align: center;
            margin-left: 0;
            margin: 0 auto;
        }


        .tracks {
            text-align: center;
            
        }
        .butterfly2 .tracklist {
            margin-left: 0;
        }
        .tracklist h5 {
           text-align: center;
            
        }

        .tracklist {
            text-align: center;
        }
        .butterfly2 .tracklist a .btn {
            text-align: center;
            margin-left:0;
            margin: auto;
        }
        

}

.upcoming {
    text-align: center;

}
.upcoming img {
max-width: 90%;

    height: auto;
}


.butterfly img {
    max-width: 50%;
    transform: rotate(0.90turn);
    display: block;
        margin: 50px auto;
}
.butterfly2 img {
    max-width: 50%;
    display: block;
    margin: 50px auto;
}
.row {
    padding: 50px 50px 50px 50px;
}


p {
    text-align: center;
    font-size: 12pt;
    color: black;
}

p em {
    font-style: italic;
}

.btn {
    padding: 10px 20px 10px 20px;
    outline: solid black;
    margin-left: 20px;
}

.btn:hover, btn:focus {
    text-decoration: underline;
}



.tracklist {
    margin-top: 50px;
    margin-left: 50px;
        text-align: left;
}


footer {
    margin: 0 auto;
    max-width: 600px;
}

.socials ul {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;

}

/* about page */

.artist-photo-collage {
    position: relative;
    justify-content: center;
}

.textured-bg {
    position: relative;
    max-width: 60%;
}

.artist-photo {
    position: absolute;
    top: 50px;
    left: 50px;
    max-width: 50%;
}

.about p {
    text-align: left;
    font-size: 20px;
}

.about a {
    text-decoration: underline;
}